<%- include('header') -%>

<br>
<br>
<h1>Submeta arquivos aqui!</h1>
<form action="/addFilesForms" method="post" enctype="multipart/form-data">
  <br>
  <input type="file" name="filetoupload"><br><br><br><br>
  <input type="submit" class="btn btn-outline-dark">
</form>

<%- include('footer') -%>
