
<%- include('header') -%>

	<div class="col-md-4 col-md-offset-4 form-card">
		<div>
			<p>Tela Inicial</p>
		</div>
		<div id="LangTable">
			<a href="/logout"><button type="button" class="btn btn-outline-danger">Logout</button></a>
		</div>
	</div>

<%- include('footer') -%>
