<%- include('header') -%>

  <div class="box" id="heading">
    <h1>Histórico</h1>
  </div>

  <div class = "container">
      <h2>Bootstrap Filter Table</h2>
      <div class="row col-md-7 ">
        <div>
          <p>Procure palavras-chave</p>
          <input class="form-control" id="inputFilter" type="text" placeholder="Search.." />
          </div>
        <table id="patientTable" class="table table-bordered table-hover table-responsive">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Frequência Respiratória</th>
              <th>Frequência Cardíaca</th>
              <th>Oxigenação</th>
              <th>Temperatura</th>
              <th>Coagulação Sanguínea</th>
              <th>Pressão</th>
              <th>Peso</th>
              <th>Altura</th>
              <th>Diagnóstico Principal</th>
              <th>Exames Solicitados</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

<%- include('footer') -%>
